<div id="message-{{id}}" class="comment">
    <strong class="comment-author">@{{username}}</strong>
    <span class="comment-date">{{formatDate createdAt}}</span>
    <div class="comment-text">{{text}}</div>
</div>