
<nav> 
    <a class="nav-items" href="/">Home</a>
    <a class="nav-items" href="/register">Registration</a>
    <a class="nav-items" href="/postimage">Post Image</a>
    
    {{#if isLoggedIn}}
        <a id="logout-button" class="nav-items">Log Out</a>
    {{else}}
        <a class="nav-items" href="/login">Login</a>
    {{/if}}

    <li>
        <form method="GET"
            action="/posts/search"
            enctype="application/x-www-form-urlencoded">
            <input id="search-text" class="search-text" name="searchTerm" type="text" value="{{searchValue}}" />
            <button type="submit" class="search-button"></button>
        </form>
    </li>
</nav>
