
<nav> 
    <a class="nav-items" href="/">Home</a>
    <a class="nav-items" href="/register">Registration</a>
    <a class="nav-items" href="/postimage">Post Image</a>
    
    {{#if isLoggedIn}}
        <a id="logout-button" class="nav-items">Log Out</a>
    {{else}}
        <a class="nav-items" href="/login">Login</a>
    {{/if}}

    <li>
        <form>
            <input id="search-text" class="search-text" name="search-text" type="text" />
            <div class="search-button"></div>
        </form>
    </li>
</nav>
