<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="icon" href="/public/favicon.ico" sizes="70x70" type="image/ico">
    <link rel="stylesheet" href="/public/css/style.css">
    {{#each js}} 
      <script defer src="/public/js/{{this}}"></script>
    {{/each}}
  </head>
  <body>
    {{#if (nonEmptyObject messages)}}
      {{> flashmessage}}
    {{/if}}
    {{> header}}
    {{> nav}}
    {{{body}}}
    {{> footer}}
  </body>
  {{#if isLoggedIn}}
    <script>
      document.getElementById('logout-button').addEventListener('click', function(ev){
        fetch('/users/logout', {method:"POST"})
          .then(response => response.json())
          .then(function(res_json){
            console.log(res_json);
            window.location.replace('/');
          })
          .catch(err => console.log(err));
      })
    </script>
  {{/if}}
</html>
