    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script defer src="../js/index.js"></script>
        <link rel="stylesheet" href="../css/style.css">
        <title>Index</title>

    </head>

    <body>

    <section id="endText">
        <div id="product-list" class="product-list"></div>
        <h3>Number of photos: <div id="counter" class="counter"></div></h3>
    </section>    
        
    </body>
