<main id="main-content">
    {{#each results}}
        <div>
            <img src="{{this.thumbnail}}" alt="">
            <p>{{this.title}}</p>
            <p>{{this.description}}</p>
            <a href="/posts/{{this.id}}">Details</a>
        </div>
    {{/each}}
</main>