<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script defer src="../js/index.js"></script>
        <link rel="stylesheet" href="../css/style.css">
        <title>Index</title>

    </head>

    <body>
        <header>
            <h1>Index</h1>
        </header>
        <nav> 
            <a class="nav-items" href="index.html">Home</a>
            <a class="nav-items" href="login.html">Login</a>
            <a class="nav-items" href="registration.html">Registration</a>
            <a class="nav-items" href="postimage.html">Post Image</a>
            <a class="nav-items" href="viewpost.html">View Post</a>
        </nav>

    <section id="endText">
        <div id="product-list" class="product-list"></div>
        <h3>Number of photos: <div id="counter" class="counter"></div></h3>
    </section>    
        
    </body>
</html>