<form action="/users/login"
      method="POST"
      enctype="application/x-www-form-urlencoded"
      class="form-style">
    <div class="input-group">
        <label for="username">Username</label>
         <input class="input-text" type="text" name="username" 
        id="username">
    </div>

    <div class="input-group">
        <label for="password">Password</label>
        <input class="input-text" type="password" name="password"
        id="Password">
    </div>

    <input class="button" type="submit" value="Submit">
</form>