<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>View Post</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>

    <body>
        <header>
            <section>
                <h1>View Post</h1>
            </section>
        </header>

        <section>
            <p>Title: "Hugo"</p>
            <p>Author: Sabrina Diaz-Erazo</p>

            <img src="/public/images/hugo440.jpg" alt="Hugo the Cat">

            <p>Date Posted: 10/2/22</p>
        </section>

        <footer>Sabrina Diaz-Erazo &copy; 2022</footer>
    </body>
</html>