
    <body>
        <section>
            <p>Title: "Hugo"</p>
            <p>Author: Sabrina Diaz-Erazo</p>

            <img src="/public/images/hugo440.jpg" alt="Hugo the Cat">

            <p>Date Posted: 10/2/22</p>
        </section>
    </body>