* {
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

body {
  padding: 0;

  margin: auto;
  font: 20px "Lucida Console", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: rgb(206, 249, 203);
  position: relative;
  padding-bottom: 76px;
  min-height: 100vh;
}

main {
  margin: 32px;
}

nav{
  text-align: center;
  padding: 0 0 20px;
  background-color: #98c492;
}

.form-style{
  padding: 0px;
  margin: 130px 80px;
}

img {
  padding: 30px;
  background-color: #98c492;
}

a {
  color: #1b692c;
}

p {
  margin: 15px;
}

.search-group {
  list-style-type: none;
}

header {
  padding: 1px;
  background-color: #98c492;
}

footer {
  padding: 30px 0px;
  background-color: #98c492;
  position: absolute;
  width: 100%;
  text-align: center;

}

.input-group {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input-text {
  width: 236px;
  margin: 0 auto;
  border-radius: .35em;
  padding: 8px;
  border-color: #1b692c;
}

.button {
  font-family: "Lucida console";
  font-size: 20px;
  background-color: #98c492;
  border: none;
  padding: 6px;
  border-radius: .35em;
  margin: 10px;
  box-shadow: 0 6px gray;
  display: inline-block;
  outline: none;

}

.button:hover {
  cursor: pointer;
  background-color: #6f996a;
}

.button:active {
  background-color: #577b53;
  box-shadow: 0 6px rgb(194, 194, 194);
  transform: translateY(3px);
}

.search-button {
  font-family: "Lucida console";
  font-size: 20px;
  background-color: #577b53;
  border: none;
  padding: 6px;
  border-radius: .35em;
  display: inline-block;
  outline: none;
  height: 21px;
  width: 48px;
  cursor: pointer;
}

#comment-button {
  font-family: "Lucida console";
  font-size: 20px;
  background-color: #577b53;
  border: none;
  padding: 6px;
  border-radius: .35em;
  display: inline-block;
  outline: none;
  height: 37px;
  width: 48px;
  cursor: pointer;
}

.nav-items {
  background-color: rgb(206, 249, 203);
  text-decoration: none;
  padding: 8px 12px;
  border-radius: .35em
}

.file-upload {
  background-color: #98c492;
}

.valid-text {
  outline: solid green;
}

.invalid-text {
  outline: solid red;
}

.product-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 50vh;
  gap: 1rem;
  padding: 1em;
}

.product-card {
  display: grid;
  border-radius: .35em;
  grid-template-areas: "info";
}

.prod-img {
  grid-area: info;
  height: 100%;
  width: 100%;
  border-radius: .35rem;
  border-radius: .35rem;
  object-fit: cover;
  padding-bottom: 56px;
}

.prod-info {
  grid-area: info;
  display: flex;
  width: 100%;
  height: 34px;
  z-index: 3;
  justify-self: center;
  padding: .3em;
  align-self: flex-end;
  background-color: aliceblue;
  font-size: .8rem;
}

.prod-title {
  margin: 0;
  background-color: transparent;
  flex: 1 75%;
  overflow: hidden;
}

.prod-cost::before {
  content: "$";
}

.prod-cost {
  flex: 1 25%;
  margin: 0;
  background-color: transparent;
}


.counter {
  margin: 0;
  background-color: transparent;
  flex: 1 75%;
}

#logout-button {
  cursor: pointer;
}



.alert {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;  
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}



#main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.child-flex {
  flex: 1 0 21%;
  box-sizing: border-box;
}


img {
  max-width: 100%;
  height: auto;
}

.comment {
  padding: 15px;
}

.comment-box-text {
  width: 236px;
  margin: 0 auto;
  border-radius: .35em;
  padding: 8px;
  border-color: #1b692c;
}