body {
  padding: 0;
  margin: 0;
  font: 20px "Lucida Console", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: rgb(206, 249, 203);
  position: relative;
  padding-bottom: 76px;
  min-height: 100vh;
}

main {
  padding: 150px;
  margin: 32px;
}

nav{
  text-align: center;
  padding: 0 0 20px;
}

form {
  padding: 0px;
  margin: 130px 80px;
}

img {
  padding: 30px;
  background-color: #98c492;
}

a {
  color: #1b692c;
}

p {
  margin: 20px;
}

header {
  padding: 15px;
  background-color: #98c492;
}

footer {
  padding: 30px 0px;
  background-color: #98c492;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;

}

.input-group {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input-text {
  width: 236px;
  margin: 0 auto;
  border-radius: .35em;
  padding: 8px;
  border-color: #1b692c;
}

.button {
  font-family: "Lucida console";
  font-size: 20px;
  background-color: #98c492;
  border: none;
  padding: 6px;
  border-radius: .35em;
  margin: 10px;
  box-shadow: 0 6px gray;
  display: inline-block;
  outline: none;

}

.button:hover {
  cursor: pointer;
  background-color: #6f996a;
}

.button:active {
  background-color: #577b53;
  box-shadow: 0 6px rgb(194, 194, 194);
  transform: translateY(3px);
}

.nav-items {
  background-color: rgb(206, 249, 203);
  text-decoration: none;
  padding: 8px 12px;
  border-radius: .35em
}

.file-upload {
  background-color: #98c492;
}

.valid-text {
  outline: solid green;
}

.invalid-text {
  outline: solid red;
}